{% extends "base.html" %}

{% block content %}
    <h1>One Click IT - HR Portal</h1>
    <p>
        Here you can search for which groups an employee is in.<br>
        Do note that this will only work will full names. For example "John Doe" will work, but "John" will not.
    </p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr>
    {% for group in found_group %}
        <p>User in group: {{ group }}</p>
        <hr>
    {% endfor %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

{% endblock %}